@model OrderForm2016.Models.BaseForm


@Html.HiddenFor(m => m.SAPartial.base_form_id)

@*<div class="form-group">
	@Html.LabelFor(m => m.SAPartial.school_name, ViewData["school_nameLabel"].ToString(), new { @class = "control-label" })
	@Html.EditorFor(m => m.SAPartial.school_name, new { htmlAttributes = new { @class = "form-control" } })
	@Html.ValidationMessageFor(m => m.SAPartial.school_name, "", new { @class = "text-danger" })
</div>*@

