<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>orders2016test.trawickinternational.com</MSDeployServiceURL>
    <DeployIisAppPath>orders2016test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>smayhew</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GBGEDI" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OrderForm2016.Models.GBGEDIData, OrderForm2016" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OrderForm2016" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OrderForm2016.Models.OrderForm2016Data, OrderForm2016" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuoteEngine" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OrderForm2016.Models.QuoteEngineData, OrderForm2016" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="siAdmin" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="OrderForm2016.Models.SIAdminData, OrderForm2016" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Tracking" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=web-sql2.trawickinternational.com;Initial Catalog=TrackingCube;User ID=trawick-sa;Password=Tr@w1ckSQLA;Connect Timeout=30000000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Tracking_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=web-sql2.trawickinternational.com;initial catalog=TrackingCube;user id=trawick-sa;password=Tr@w1ckSQLA;Connection Timeout=30000000;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BHProductsDataContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=web-sql2.trawickinternational.com;Initial Catalog=BHProducts;User ID=trawick-sa;Password=Tr@w1ckSQLA;Connect Timeout=30000000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BHProductsDataContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=web-sql2.trawickinternational.com;initial catalog=BHProducts;user id=trawick-sa;password=Tr@w1ckSQLA;Connection Timeout=30000000;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BHProductsDataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GBGEDI-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OrderForm2016-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuoteEngine-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)siAdmin-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Tracking-Web.config Connection String" />
  </ItemGroup>
</Project>