<div class="logos-col">

	@*<aside class="alert  alert-warning" role="alert">
		<i class="fa fa-usd text-primary"></i> All currencies set to <strong>USD</strong>.
	</aside>*@


	@*<div style="margin: 20px auto; text-align: center;"><script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?style=invert"></script></div>*@

	<div><img src="/content/images/trustwave.png"></div>

	<div><img src="/content/images/digicert.png"></div>

</div><!-- /.col -->

