@model OrderForm2016.Models.QuoteFormResults

@{
	bool showButton = false;

}

@using (Html.BeginForm("BaseFormFromQuoteID", "Home", new { @qid = Model.buyLink.baseFormID }, FormMethod.Post, new { id = "travOptions" }))
{
	@Html.HiddenFor(m => m.QuoteFormResultsID)

	<div class="well well-sm">
		<div class="row" id="adjustments">
			<div class="col-sm-6 col-lg-4">
				<div class="form-group">
					@Html.LabelFor(m => m.plan, "Flight AD&D", new { @class = "control-label" })
					@Html.DropDownList("flightadd", Model.flightADDList, new { @class = "form-control select-flightadd" })
					@*@Html.DropDownListFor(m => m.medical_limit, Model.medLimitList, new { @class = "form-control" })*@
				</div>
			</div>
		</div>
	</div>
}